<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="styles/main.css" rel="stylesheet" type="text/css">
  <title>Middle End Test No A2 | Roberto Costa</title>
</head>
<body>
  <main>
    <section id="sideMenu">
      <div id="option">
        <p><%= opt %></p>
      </div>
      <div class="qty">
        <p><%= qtd %></p>
        <input type="text" placeholder="type here">
      </div>
    </section>
    <section id="submenu" data-slide="off">
      <select class="select-items">
        <option value="none">Please select</option>
        <% for(let item of items) { %>
        <option value="<%=item.value%>"><%=item.text%></option>
        <% } %>
      </select>
    </section>
    <section id="items">
    </section>
  </main>
  <script src="scripts/main.js"></script>
</body>
</html>