/* VARIABLES */
:root {
  --clr-main: #c5cae9;
  --clr-secondary: #5c6bc0;
  --clr-tertiary: #303f9f;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  color: whitesmoke;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: var(--clr-main);
  margin: 0;
}

main {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr;
}

#sideMenu {
  z-index: 3;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  background: var(--clr-secondary);
  margin: 0;
}

#option:hover {
  cursor: pointer;
  color: #cddc39;
}

#submenu {
  border: 1px solid var(--clr-secondary);
  align-items: center;
  z-index: 2;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  background: var(--clr-tertiary);
  transition: all 1s;
}
#items {
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.2fr 0.2fr 0.2fr 0.5fr;
  grid-column: 2 / -1;
  grid-row: 1 / 1;
}

#items div {
  background: var(--clr-tertiary);
  border: 1px solid var(--clr-secondary);
  padding: 0.5rem;
  margin: 1rem 2rem;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr;
}

#items .first-par {
  display: inline-block;
  border: 1px solid white;
  border-radius: 50px;
  background: var(--clr-secondary);
  align-self: center;
  justify-self: center;
  grid-column: 1 / 1;
  padding: 1rem;
  font-size: 1.2rem;
}

#items .second-par {
  display: inline-block;
  text-align: center;
  grid-column: 2 / 2;
  padding: 1rem;
  font-size: 1.2rem;
}

#sideMenu div {
  text-align: center;
  font-size: 2rem;
  margin: 3rem 0;
  padding: 1rem;
  background: var(--clr-tertiary);
}

.qty input[type="text"] {
  padding: 0.5rem;
  text-align: center;
}

.missing-qtd {
  outline: 2px solid red;
}

.select-items {
  margin: 25%;
  font-size: 1.4rem;
  padding: 1rem;
  align-self: center;
  justify-self: center;
}

.hidden {
  display: none;
}

.show {
  display: block;
}